[submodule "modules/rosbot_xl_ros"]
	path = modules/rosbot_xl_ros/src
	url = https://github.com/husarion/rosbot_xl_ros

[submodule "modules/jsoncpp"]
	path = modules/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git